<div id="cameraRequirementChecker">
    <div class="row">
        <form class="col-md-4" id="cameraRequirementCheckerForm">
            <div class="form-group">
                <label>Simulated CPU</label>
                <select id="simualtedCpuSelector" class="form-control form-control-lg" name="simualtedCpu">
                </select>
            </div>
            <div class="form-group">
                <label>Number of Cameras</label>
                <input class="form-control form-control-lg" name="cameraCount" placeholder="1">
            </div>
            <!-- <div class="form-group">
                <label>Resolution</label>
                <input class="form-control form-control-lg" name="resolution" placeholder="1920x1080">
            </div>
            <div class="form-group">
                <label>Stream FPS</label>
                <input class="form-control form-control-lg" name="fps" placeholder="15">
            </div> -->
            <div class="form-group">
                <label>Stream Bitrate</label>
                <input class="form-control form-control-lg" name="bitrate" placeholder="2000">
            </div>
        </form>
        <div class="col-md-8" id="cameraRequirementCheckerResults">

        </div>
    </div>
</div>
<script src="/libs/js/cameraRequirementChecker.js"></script>
