<% var Title='Object Detection'; %>
<% include blocks/header.ejs %>
<body class="body-blue">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        <header id="header" class="header">
            <div class="container">
                <% include blocks/branding.ejs %>
            </div><!--//container-->
        </header><!--//header-->
        <div class="doc-wrapper">
            <div class="container">
                <div id="doc-header" class="doc-header text-center">
                    <h1 class="doc-title"><span aria-hidden="true" class="icon fa fa-plug"></span> <%= Title %></h1>
                </div><!--//doc-header-->
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            <section id="objectdetect" class="doc-section">
                                <% pageData.forEach(function(v,n){ %>
                                    <div class="section-block">
                                        <h3 class="block-title question"><a id="content-<%- link_id(v.description) %>" href="#content-<%- link_id(v.description) %>" class="text-faded"><i class="fa fa-paperclip"></i></a>  <%- v.description %></h3>
                                        <% v.blocks.forEach(function(b,m){ %>
                                            <% var drawListItems = function(b,m){ %>
                                                <li>
                                                    <% Object.keys(b).forEach(function(t,y){ %>
                                                        <% switch(t){
                                                        case 'blockquote': %>
                                                            <blockquote style="border-color:#d9534f"><%- b[t] %></blockquote>
                                                        <% break;
                                                        case 'text': %>
                                                            <div><p><%- b[t] %></p></div>
                                                        <% break;
                                                        case 'code': %>
                                                            <pre><code><%- b[t] %></code></pre>
                                                        <% break;
                                                        case 'list': %>
                                                            <ul>
                                                                <% b[t].forEach(drawListItems) %>
                                                            </ul>
                                                        <% break;
                                                        case 'orderList': %>
                                                            <ol>
                                                                <% b[t].forEach(drawListItems) %>
                                                            </ol>
                                                        <% break; %>
                                                        <% } %>
                                                    <% }) %>
                                                </li>
                                            <% } %>
                                            <% Object.keys(b).forEach(function(t,y){ %>
                                                <% switch(t){
                                                case 'blockquote': %>
                                                    <blockquote style="border-color:#d9534f"><%- b[t] %></blockquote>
                                                <% break;
                                                case 'text': %>
                                                    <div><p><%- b[t] %></p></div>
                                                <% break;
                                                case 'code': %>
                                                    <pre><code><%- b[t] %></code></pre>
                                                <% break;
                                                case 'list': %>
                                                    <ul>
                                                        <% b[t].forEach(drawListItems) %>
                                                    </ul>
                                                <% break;
                                                case 'orderList': %>
                                                    <ol>
                                                        <% b[t].forEach(drawListItems) %>
                                                    </ol>
                                                <% break; %>
                                                <% } %>
                                            <% }) %>
                                        <%  }) %>
                                    </div>
                                <%  }) %>
                            </section><!--//doc-section-->
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                         <% pageData.forEach(function(v){ %>
                                <li><a class="scrollto" href="#content-<%-link_id(v.description)%>"><%-v.description%></a></li>
                            <% }) %>
                                <% include blocks/menu-options.ejs %>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
<% include blocks/footer.ejs %>
</body>
</html>
