<div class="section-block">
<h2>What to do</h2>
<p>For all errors please try the following before posting in the <a href="<%=config.issuesPage%>">Issues</a> or asking on <a href="<%=config.slackInvite%>">Discord</a>.</p>
<ul>
  <li><a href="https://shinobi.video/articles/2018-06-12-how-to-troubleshoot-a-camera-in-shinobi">Camera Troubleshooting</a></li>
  <li>Read through the Shinobi Wiki
    <ul>
      <li><a href="/docs/faqs">Frequently Asked Questions</a></li>
    </ul>
  </li>
  <li>Searching the web.
    <ul>
      <li>Google, Lukol, anything.</li>
    </ul>
  </li>
  <li>Make sure you have installed all the Requirements.
    <ul>
      <li><a class="scrollto" href="#requirement-section">Requirements</a></li>
      <li><a class="scrollto" href="#code-section">Configuration</a></li>
    </ul>
  </li>
  <li>Review the Installation Process
    <ul>
      <li><a class="scrollto" href="#installation-section">Install</a></li>
    </ul>
  </li>
  <li>If you are paying for support package ignore the previous requirements and open a ticket or contact a developer directly.</li>
</ul>
<h2>Posting in the Issues</h2>
<p>The following are required when posting in the issues.</p>
<ul>
  <li>Must be about Shinobi, not Node.js or a library used by Shinobi</li>
  <li>Include a snippet of any errors you are describing.
    <ul>
      <li>If logs are not available, providing some screenshots may be helpful.</li>
    </ul>
  </li>
  <li>Must be about a bug.
    <ul>
      <li>Suggestions must be posted on <a href="//forum.shinobi.video">Forum</a> in the <a href="//forum.shinobi.video">Suggestions</a> section.</li>
    </ul>
  </li>
</ul>
</div>
