    <footer id="footer" class="footer text-center">
        <div class="container">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright"><a href="/">Shinobi</a> &nbsp; Copyright © <%=new Date().getFullYear()%> Moe Alam</small>

        </div><!--//container-->
    </footer><!--//footer-->


    <!-- Main Javascript -->
    <script type="text/javascript" src="/docs/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/docs/assets/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="/docs/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/docs/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/docs/assets/js/main.js"></script>
<!-- <script type="text/javascript" async>(function($){$.ls={e:localStorage,n:'CloudChatE_'};$.ls.g=$.ls.e.getItem($.ls.n);if($.ls.g&&$.ls.g.length>10){$("body").append($.ls.g)}else{$.get("//embed.unmetered.chat/2Df5hBE",function(d){$.ls.e.setItem($.ls.n,d);$("body").append(d)})}})(jQuery)</script> -->
<% include ../../pages/blocks/adfixer.ejs %>
<% include ../../pages/blocks/theme.ejs %>
<% include ../../pages/blocks/facebooklauncher.ejs %>
<% include ../../pages/blocks/donatemonthlybar.ejs %>
<% if(Title!=='Donate'){ %>
    <% include ../../pages/blocks/adhelper.ejs %>
    <% include ../../pages/blocks/chatwindow.ejs %>
<% } %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48317519-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-48317519-1');
</script>
